In [2]:
import os
import pandas as pd

In [3]:
path = "../data"

In [4]:
train = pd.read_json(os.path.join(path, "train.json"))

In [5]:
train.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [6]:
print("Train shape: {0}".format(train.shape))
print("Number of unique Id: {0}".format(len(train["id"].unique())))
print("Number of unique cuisine: {0}".format(len(train["cuisine"].unique())))

Train shape: (39774, 3)
Number of unique Id: 39774
Number of unique cuisine: 20

In [7]:
train.groupby("cuisine").count()

                id  ingredients
cuisine
brazilian      467          467
british        804          804
cajun_creole  1546         1546
chinese       2673         2673
filipino       755          755
french        2646         2646
greek         1175         1175
indian        3003         3003
irish          667          667
italian       7838         7838
jamaican       526          526
japanese      1423         1423
korean         830          830
mexican       6438         6438
moroccan       821          821
russian        489          489
southern_us   4320         4320
spanish        989          989
thai          1539         1539
vietnamese     825          825

In [8]:
train.dtypes

cuisine        object
id              int64
ingredients    object
dtype: object

In [ ]:
words = reduce(lambda x,y: x+y, list(train["ingredients"].values))

In [ ]:
from collections import Counter
Counter(words)